/*
* 全局设置主题样式，每个应用入口文件引用一次
*/
[v-cloak] {
  display: none!important;
}
html,body{
  margin: 0;
  padding: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  height: 100%;
  box-sizing: border-box;
  font-size: 100px;
}
ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  color: #333;
  text-decoration: none;

  &:link, &:visited, &:hover {
    text-decoration: none;
    outline: none;
  }
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}
h1, h2{
  text-align: center;
}

input:focus {
  outline: none;
}

table {
  border-collapse:collapse;
  width: 100%;
  background-color: #fff;

  thead {
    box-shadow: none;
    line-height: 2;

    th {
      text-align: left;
      text-transform: none;
      padding: 0.12rem;
    }
  }
  tbody {
    line-height: 1.5;
    tr{
      &:nth-child(odd){
        background-color: rgba(0,0,0,.05);
      }
      &:hover{
        background-color: rgba(0, 0, 0, .07);
      }
      td {
        text-align: left;
        padding: 0.12rem;
      }
    }
  }
}