/*
* 全局设置主题样式，每个应用入口文件引用一次
*/
[v-cloak] {
  display: none!important;
}
html,body{
  margin: 0;
  padding: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  height: 100%;
  box-sizing: border-box;
  font-size: 100px;
}
ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  color: #333;
  text-decoration: none;

  &:link, &:visited, &:hover {
    text-decoration: none;
    outline: none;
  }
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}
h1, h2{
  text-align: center;
}

input:focus {
  outline: none;
}